@{
    ViewData["Title"] = "Home Page";
}

<br>

@* <div class="row"> 
    <div class="col-md-6">
   
   <img src="/ProjectImages/mama ilk resim.jpg" width="500" />
        <p style="text-align:center;font-weight:bold;">Mamalar</p>
    <img src="/ProjectImages/aksesyar ilk.jpg" width="500" />
        <p style="text-align:center;font-weight:bold;">Aksesuarlar</p>
    <img src="/ProjectImages/bakım ilk.jpg" width="500" />
        <p style ="text-align:center;font-weight:bold;">Sağlık & Bakım Ürünleri</p>
    </div>
     <div class="col-md-6">
    <img src="/ProjectImages/ilk oyuncak.jpg" width="500" />
        <p style="text-align:center;font-weight:bold;">Oyuncaklar</p>
    <img src="/ProjectImages/kıyafet ilk.jpg" width="500" />
        <p style="text-align:center;font-weight:bold;">Kıyafetler</p>
    <img src="/ProjectImages/yatak ilk.jpg" width="500" />
        <p style="text-align:center;font-weight:bold;">Yataklar</p>

    </div>

   
  </div>
  *@
@await Component.InvokeAsync("Categories") 